.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
  text-shadow: white;
}

h2 {
  font-size: 2.5rem;
  font-style: normal;
  font-variant: small-caps;
}

#project {
  background-color: #e2edff;
}

.text-white {
  text-decoration: none;
}

section {
  padding-top: 5rem;
}

section .container {
  padding-top: 5rem;
}
